<section class="inner-banner">
	<div class="thm-container clearfix">
		<h2 class="pull-left">Fale Conosco</h2>
		<ul class="breadcumb pull-right">
			<li><%= link_to "<i class=\"fa fa-home\"></i> Início".html_safe, root_path %></li>
			<li><span>Fale Conosco</span></li>
		</ul>
	</div>
</section>

<section class="sec-padding contact-page-content bottom-has-footer-top">
	<div class="thm-container">
		<div class="sec-title">
			<p>A Digital Rad gosta de conversar com o mercado de radiologia e de saúde. Temos prazer em ouvi-lo. Por favor, use este espaço para entrar em contato conosco.</p>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="contact-info">
					<ul>
						<li>
							<div class="icon-box">
								<i class="fa fa-map-marker"></i>
							</div>
							<div class="content">
								<p>Av. João Antonio Leitão, 3868<br>Morada do Sol - Teresina/PI</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="contact-info">
					<ul>
						<li>
							<div class="icon-box">
								<i class="fa fa-envelope-o"></i>
							</div>
							<div class="content">
								<p>contato@digitalrad.com.br <br>orcamento@digitalrad.com.br</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="contact-info">
					<ul>
						<li>
							<div class="icon-box">
								<i class="fa fa-phone"></i>
							</div>
							<div class="content">
								<p>+55 (86) 98800-0088 <br>+55 (86) 98800-0088</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7 col-sm-6 col-xs-12 pull-left">
				<form action="include/sendemail.php" class="contact-form contact-page">
					<p><input type="text" placeholder="Nome Completo" name="name"></p>
					<p><input type="text" placeholder="E-mail" name="email"></p>
					<p><input type="text" placeholder="Assunto" name="subject"></p>
					<p><textarea name="message" placeholder="Mensagem"></textarea></p>
					<button type="submit" class="thm-btn">Enviar <i class="fa fa-arrow-right"></i></button>
				</form>
			</div>
			<div class="col-md-4 hidden-sm text-center pull-right">
				<%= image_tag 'request-qoute-man.png' -%>
			</div>
		</div>
	</div>
</section>