<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Mensagem de: <%= @message.name -%> (<%= @message.email -%>)</p>
    <p>Assunto: <%= @message.subject -%></p>
    <hr>
    <p>Messagem: <%= @message.message -%></p>
  </body>
</html>