<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Digital Rad - Administrador</title>

     <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="wrapper">
	<div class="col-md-12" style="margin-top:20px;">
		<%= render "layouts/messages_flash" -%>
	</div>
</div>

	<%= yield %>

    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
</body>
</html>